.App {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#navBar {
  height: 6rem;
  width: 50rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: lightseagreen;
}

@media only screen and (max-width: 768px) { /* Phones & portrait tablets */
    .App { padding: 0; }
    #navBar {
      width: 100%;
      position: static;
    }
}