.App {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#searchBar {
  height: var(--searchBarHeight);
  width: calc(100% - var(--navBarWidth) - 5rem);
  position: fixed;
  top: 1rem;
  right: 2rem;
  background-color: sienna;
}

#searchBar > img {
  height: 100%;
}

#searchSuggestion {
  width: 30rem;
  height: 30rem;
  background-color: beige;
  position: absolute;
  top: calc(var(--searchBarHeight) + 5px);
  right: 0;
}

#navBar {
  height: var(--navBarHeight);
  width: var(--navBarWidth);
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: #171D33;
  border-radius: 0.2rem;
}

#navBar button {
  background-color: transparent;
  color: white;
  border: 0.15rem solid transparent;
  border-radius: 0.1rem;
}
#navBar button:hover {
  background-color: #18575F;
  border-color: #1BCECF;
}

#navBar.players > #playersButton,
#navBar.teams > #teamsButton,
#navBar.games > #gamesButton,
#navBar.ranking > #rankingButton,
#navBar.profile > #profileButton {
  background-color: #1DEFEF;
  border-color: #1DEFEF;
  color: black;
}

@media only screen and (max-width: 600px) { /* Phones */
  #searchSuggestion {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) { /* Phones & portrait tablets */
  .App { padding: 0; }
  #searchBar, #navBar {
    width: 100%;
    position: static;
  }
}