.App {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  --logoMargin: 0.3rem;
  --dividerColor: #8C99AE;
  --filterButtonHeight: 3.3rem;
  --iconHeight: 1.3rem;
}

#searchBar {
  height: var(--searchBarHeight);
  position: fixed;
  top: var(--barsMargin);
  right: 18px;
  display: flex;
  z-index: 1;
  justify-content: space-between;
}

#searchAndfilters {
  height: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
  --marginBetweenButtons: 1rem;
}

#searchAndfilters > input {
  --inputPadding: calc((var(--filterButtonHeight) - var(--iconHeight)) / 2);
  width: 15rem;
  height: var(--filterButtonHeight);
  box-sizing: border-box;
  margin-right: var(--marginBetweenButtons);
  border: none;
  box-shadow: none;
  font-size: 1.4rem;
  padding-left: var(--inputPadding);
  padding-right: var(--filterButtonHeight);
  background-image: url("images/magnifying-glass.png");
  background-repeat: no-repeat;
  background-size: var(--iconHeight);
  background-position: calc(100% - var(--inputPadding));
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#searchAndfilters > input::placeholder {
  color: #9497A3;
}

#searchAndfilters > button {
  width: var(--filterButtonHeight);
  height: var(--filterButtonHeight);
  border: none;
  background-image: url("images/filter.png");
  background-repeat: no-repeat;
  background-size: var(--iconHeight);
  background-position: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#searchBar > img {
  height: calc(100% - var(--logoMargin) * 2);
  margin: var(--logoMargin) 2rem var(--logoMargin) 3rem;
  cursor: pointer;
}

#filterPanel, #suggestions {
  background-color: var(--navyBackground);
  position: absolute;
  border-radius: var(--borderRadius);
  top: calc(var(--filterButtonHeight) + 0.5rem);
}

#filterPanel {
  right: 0;
  padding: 2rem;
}
#filterPanel > h2 {
  color: white;
  margin-top: 0;
}
#filterPanel > .select:nth-of-type(2) {
  margin-top: 0.7rem;
}

#suggestions {
  max-height: 20rem;
  overflow-y: scroll;
  right: calc(var(--filterButtonHeight) + var(--marginBetweenButtons));
  padding: 1rem;
}
/* width */
#suggestions::-webkit-scrollbar {
    width: 1rem;
}
/* Track */
#suggestions::-webkit-scrollbar-track {
    background: transparent;
  }
/* Handle */
#suggestions::-webkit-scrollbar-thumb {
    background: #96999B;
    border-radius: var(--borderRadius);
}
/* Handle on hover */
#suggestions::-webkit-scrollbar-thumb:hover {
    background: #B4B7BA;
}

#suggestions > p {
  width: 20rem;
  background-color: #E4E9F0;
  padding: 0.5rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: calc(var(--borderRadius) / 2);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
}
#suggestions > p:not(:first-child) {
  margin-top: 0.5rem;
}

#suggestions > p > span:last-child {
  color: #61636B;
}

#navBar {
  position: fixed;
  top: var(--barsMargin);
  left: var(--barsMargin);
  background-color: #272E3F;
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#navBar > button {
  background-color: transparent;
  color: white;
  border: 0.15rem solid transparent;
  border-radius: calc(var(--borderRadius) / 2);
  padding: 0.5rem 1.2rem 0.3rem 1.2rem;
  font-weight: bold;
  margin: 0.1rem;
  cursor: pointer;
}
#navBar button:hover {
  background-color: #18575F;
  border-color: #1BCECF;
}

#navBar.players > #playersButton,
#navBar.teams > #teamsButton,
#navBar.games > #gamesButton {
  background-color: #1DEFEF;
  border-color: #1DEFEF;
  color: black;
}

@media only screen and (max-width: 992px) { /* Phones & portrait tablets */
  .App {
    --logoMargin: 0.8rem;
  }
  #searchBar, #navBar {
    width: 100%;
    position: static;
  }
  #searchBar {
    border-bottom: var(--dividerWidth) solid var(--dividerColor);
  }
  #searchAndfilters {
    align-items: center;
    padding-left: var(--barsMargin);
  }
  #searchBar input, #searchBar button {
    box-shadow: none;
  }
  #searchBar > img {
    margin: var(--logoMargin) 1rem var(--logoMargin) 2rem;
  }
  #suggestions, #filterPanel {
    top: calc(var(--barsMargin) + var(--filterButtonHeight) + 1rem);
    right: auto;
    left: var(--barsMargin);
  }
  #navBar {
    height: var(--navBarHeight);
    border-radius: 0;
    padding: 0;
    box-shadow: none
  }
}

@media only screen and (max-width: 600px) { /* Phones */
  #suggestions, #filterPanel {
    left: var(--barsMargin);
  }
}